.bookings-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 40rem;
    max-width: 90%;
  }
  
  .bookings-item {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #5101d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bookings-control {
    text-align: center;
    padding: 0.5rem;
  }
  
  .bookings-control button {
    font: inherit;
    border: none;
    background: transparent;
    color: black;
    padding: 0.25rem 3rem;
    border-bottom: 2px solid transparent;
    cursor: pointer;
  }
  
  .bookings-control button.active {
    border-bottom-color: #5101d1;
    color: #5101d1;
  }
  
  .bookings-control button:focus {
    outline: none;
  }