.header-section{
    display: flex;
    position: fixed;
    top: 0rem;
    width: 100%;
    height: 5rem;
    background-color:orange;
    padding: 0 1rem;  
    align-items: center;  
}
.nav-logo h1{
    font-size: 1.5rem;
}
.nav-bar ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-bar li {
    margin: 0 1rem;

}
.nav-bar a,
.nav-bar button{
    text-decoration: none;
    color: black;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font: inherit;
}
.nav-bar a:hover, .nav-bar a:active, .nav-bar a.active,
.nav-bar button:hover, .nav-bar button:active, .nav-bar button.active{
    
}