.header-section{
    display: flex;
    position: fixed;
    top: 0rem;
    width: 100%;
    height: 5rem;
    background-color:orange;
    padding: 0 1rem;  
    align-items: center;  
}
.nav-logo h1{
    font-size: 1.5rem;
}
.nav-bar ul{
    display: flex;
    list-style: none;
}
.nav-bar li {
    margin: 0 1rem;

}
.nav-bar a{
    text-decoration: none;
    color: black
}
.nav-bar a:hover, .nav-bar a:active, .nav-bar a.active{
    
}